<h1>Ideas</h1>

<ul>
  <% if @idea.errors %>
    <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
</ul>

<h4>Add a new idea</h4>
<%= render 'ajax_form' %>

<table class="table table-striped">
  <% @ideas.each do |idea| %>
    <%= render 'idea', idea: idea %>
  <% end %>
</table>
