<h1>Ideas <small><a href="/ideas/new">add a new idea</a></small></h1>
<table class="table table-striped">
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.desc %></td>
      <td>
        <a href="/ideas/<%= idea.id %>">Show</a>
        <a href="/ideas/<%= idea.id %>/edit">Edit</a>
        <a href="/ideas/<%= idea.id %>" data-method="delete">Destroy</a>
      </td>
    </tr>
  <% end %>

</table>
