<h1>New idea</h1>
<form action="/create_idea">
  <div class="form-group">
    <label for="">Your Idea</label>
    <input type="text" class="form-control" name="desc" id="" placeholder="create a social network for pet owners">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
