<h1><%= @idea.desc %></h1>
<div>
  <!-- Get the edit link working -->
  <%= link_to "Edit", edit_idea_path(@idea.id) %> |
  <%= link_to "Destroy", idea_path(@idea.id), method: :delete, data: { confirm: "Are you sure?" }  %>
</div>

